<h2>Team Players</h2>

@if (teamPlayers) {
    <p>
    <strong>{{teamPlayers.name}}:</strong><br/>
    Team Conference: {{teamPlayers.conference}}<br/>
    Team Wins: {{teamPlayers.win}}<br/>
    Team Loss: {{teamPlayers.loss}}<br/>
    Team Count: {{teamPlayers.players.length}}<br/>
    </p>
    <h3>Players:</h3>
    <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Points</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Minutes</th>
          </tr>
        </thead>
        <tbody>
          @for (player of teamPlayers.players; track player.id) {
            <tr ngFor="let team of teams">
              <!--<td><a [routerLink]="['/team-players',team.id]">{{ team.id }}</a></td>-->
              <td>{{ player.id }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.points }}</td>
              <td>{{ player.rebunds }}</td>
              <td>{{ player.assists }}</td>
              <td>{{ player.minutes }}</td>
            </tr>  
          }
        </tbody>
    </table>
}

<div>
    <a mat-flat-button color="secondary"
        [routerLink]="['/teams']" routerLinkActive="router-link-active">Back</a>

</div>